body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

:root {
  --blue: rgb(14, 14, 81);
}

/* NAVBAR, FOOTER */

.nav {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
}

.nav__link {
  text-decoration: none;
  color: white;
  padding: 2rem;
}

.nav__link:hover {
  text-decoration: underline;
}

.home {
  width: 100%;
  text-align: center;
  color: black;
}

footer {
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* REGISTER PAGE*/

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3rem 0rem;
}

h1 {
  color: black;
  font-size: 2rem;
  font-weight: 300;
}

.card {
  margin-bottom: 5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__section label {
  display: inline-block;
  width: 6rem;
  text-align: left;
  margin-right: 1rem;
}

.verificationBtn {
  margin: 1rem;
  background-color: aliceblue;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 0.2px solid black;
  transition: ease-in 0.1s;
}

.secondaryBtn {
  margin: 0.4rem;
  margin-bottom: 3rem;
  border: none;
  background-color: white;
}

.secondaryBtn:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: none;
}

.verificationBtn:hover {
  background-color: var(--blue);
  cursor: pointer;
  color: white;
}

div.form__section {
  padding: 0.6rem;
}

.form__section input {
  border: none;
  border-bottom: solid black 1px;
  width: 12rem;
}

/* EDIT BLOG PAGE */
.editForm {
  width: 25rem;
}

.editForm__text {
  width: 50rem;
  height: 20rem;
  margin-top: 1rem;
}

/* CONTACT PAGE */

.contactPage {
  text-align: center;
}

/* BLOG PAGE */

.blogContainer {
  margin: 1rem;
}

.blogContainer__item {
  padding: 1rem 1rem 3rem 1rem;
}
