# Application Port
PORT=<port number you want to run>

# Get mongodb URL from own atlas account
MONGO_URL=mongodb+srv://<username>:<password>@esr.i9mfv.mongodb.net/<database name>

# Secret key for creating JWT (token)
PRIV_KEY=ahdjshjdhjhdfdty545
